<a href="https://colab.research.google.com/github/akrakowsky/Module_21/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./drive/MyDrive/Module_21/Resources/charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [24]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df_drop = application_df.drop(["EIN", "NAME"], axis='columns')
df_drop

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [25]:
# Determine the number of unique values in each column.
df_drop.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [28]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = df_drop["APPLICATION_TYPE"].value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    df_drop['APPLICATION_TYPE'] = df_drop['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df_drop['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [30]:
# Look at CLASSIFICATION value counts for binning
class_count = df_drop["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1370        1
C1580        1
C8210        1
C1900        1
C1570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [31]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count[class_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1256        2
C1246        2
C1267        2
C3200        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [43]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    df_drop['CLASSIFICATION'] = df_drop['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df_drop['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [44]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df_new = pd.get_dummies(df_drop)
app_df_new

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [45]:
# Split our preprocessed data into our features and target arrays
X = app_df_new.drop(["IS_SUCCESSFUL"], axis="columns").values
y= app_df_new["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [46]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_feat = len(X_train[0])
hidden_node_layer1 = 80
hidden_node_layer2 = 30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_node_layer1, input_dim=num_input_feat, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_node_layer2, activation="relu")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5719 - accuracy: 0.7197
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7278
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7306
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7308
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7310
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7309
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7314
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7328
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7318
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7336
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7327
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7329
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7341
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7337
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7353
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7347
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7345
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7340
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7350
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7376
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7339
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7363
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7369
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7361
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7371
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7365
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7363
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7355
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7360
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7388
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7372
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7379
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7372
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7373
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7384
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7372
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7373
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7385
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7379
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7377
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7381
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7387
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7379
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7386
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7389
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7389
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7387
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7380
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7389
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7379
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7375
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7392
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7387
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7394
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7397
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7385
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7396
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7383
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7382
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7388
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7389
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7397
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7396
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7399
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7389
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7401
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7396
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7407
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7398
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7396
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7401
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7400
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7410
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7403
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7394
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7398
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7411
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7402
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7399
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7407

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5708 - accuracy: 0.7271 - 420ms/epoch - 2ms/step
Loss: 0.5707625150680542, Accuracy: 0.7271137237548828

In [51]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")